<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/shortenLinkStyle.css" th:href="@{/css/shortenLinkStyle.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <title>Link creator</title>
</head>
<body>
<h1>Link created successfully!</h1>
<form>
    <div class="group">
        <input type="text" id="url" th:attr="value = ${gotoInfo.shortenUrl}" readonly/>
        <label for="url">Link</label>
        <div class="bar"></div>
    </div>
</form>
<div class="tooltip">
    <button class="copyButton" onclick="onCopyClick()">
        <span class="tooltiptext" id="copyTooltip">Copies the link to your clipboard</span>
        Copy link!
    </button>
</div>
</body>
<script src="/static/js/result.js" th:src="@{/js/result.js}"></script>
</html>